*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a{
    text-decoration: none;
} 

ul, ol{
    list-style: none;
}

$color-azul: dodgerblue;
$color-blanco: white;
$color-botones-comprar: rgb(108, 236, 108);